--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
opencv-python
opencv-contrib-python
uvicorn
torch
python-multipart
torchvision
segmentation-models-pytorch
albumentations
fastapi[standard]
pytest
httpx