--extra-index-url https://download.pytorch.org/whl/cpu
fastapi
fastapi[standard]
uvicorn
torch
torchvision
python-multipart
segmentation-models-pytorch
albumentations
requests
opencv-python-headless
opencv-contrib-python-headless